* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  -webkit-font-smoothing: antialiased;
  background: rgb(184, 201, 221);
  color: #324960;
}

h2 {
  margin: 2rem 0 0;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #324960;
  color: #fff;
}

input:not(#summaryDate) {
  width: 100%;
}

input {
  outline: 0;
  border: 0;
  height: 20px;
  /* padding: 0 0.5rem; */
  background-color: transparent;
  border-bottom: 1px solid #1d2b38;
  border-radius: 0;
  font-size: 13px;
}

.no-underline {
  border: 0;
  font-size: 12px;
  color: #324960;
}

input::placeholder {
  color: #3d5872;
  font-size: 1rem;
}

input.credit-input {
  border: 0;
  /* font-size: 15px; */
  color: #4fc3a1;
}

th,
td {
  /* border: 1px solid #ddd; */
  padding: 8px;
}

td {
  border-right: 1px solid #f8f8f8;
  border-right: 1px solid #e6e4e4;
  font-size: 13px;
}

th {
  background-color: #f2f2f2;
  text-align: left;
}

thead th {
  color: #ffffff;
  background: #4fc3a1;
  font-size: 13px;
}

thead th:nth-child(odd),
#summaryTable > thead > tr:nth-child(1) > th,
#summaryTable > thead > tr:nth-child(2) > th {
  color: #ffffff;
  background: #324960;
}

tr:nth-child(even),
#summaryTable > thead > tr:nth-child(2) {
  background: #f8f8f8;
  background: #e6e4e4;
}

#registerTable > tbody > tr > td:nth-child(1) {
  font-weight: 700;
}

#summaryTable {
  background-color: #fff;
  width: 100%;
}

#summaryTable > thead > tr:nth-child(2) > th:nth-child(odd) {
  background: #4fc3a1;
}

#summaryTable > tbody > tr > td:nth-child(1) {
  font-weight: 500;
}

/* #summaryTable > tbody > tr > td:nth-child(1) */

#summaryTable > tfoot {
  font-weight: 900;
}

.sum {
  margin-bottom: 0.5rem;
}

#summaryDate {
  background-color: #4fc3a1;
  height: 2rem;
  padding: 0 1rem;
}

button.btn.delete-button {
  margin: 0.5rem 0;
}

.inputs-box {
  padding: 2rem 0 0.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 1rem;
  width: 100%;
}

.input-buttons {
  padding: 0 0 2rem;
}

.inputs {
  width: 100%;
}

.inputs input {
  width: 100%;
}

.input-field {
  width: 100px;
}

.total {
  font-weight: 500;
  font-size: 15px;
}

.total-box {
  margin: 0.5rem 0;
  background: #f8f8f8;
  width: fit-content;
  padding: 0.7rem;
}

.button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn {
  border: 0;
  padding: 0.5rem 1rem;
  background-color: #324960;
  color: #fff;
  font-weight: 700;
  font-size: 0.8rem;
  border-radius: 0;
  cursor: pointer;
  border: 1px solid #4fc3a1;
}

.btn:last-child {
  border: 1px solid #1d2b38;
  background-color: #4fc3a1;
  color: #1d2b38;
}

.btn:hover {
  opacity: 0.7;
}

.btn:active {
  opacity: 0.5;
}

#registerTable > tbody > tr > td > button {
  background-color: transparent;
  font-size: 12px;
  color: rgb(190, 17, 17);
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 900;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
}

#registerTable > tbody > tr > td {
  text-transform: capitalize;
  font-weight: 500;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.counter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.counter button {
  margin: 0 5px;
  /* padding: 2px 6px; */
  height: 20px;
  width: 20px;
  background: #4fc3a1;

  color: white;
  border: none;
  cursor: pointer;
}

p.error {
  color: rgb(194, 10, 10);
  font-size: 0.9rem;
}

.remove-button {
  /* display: none; */
  opacity: 0;
}

tr:hover .remove-button {
  display: inline;
  opacity: 1;
}

.credit-input {
  width: 80px;
}

.table-wrapper {
  /* margin: 10px 70px 70px; */
  box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

#registerTable {
  /* border-radius: 5px; */
  /* font-size: 12px; */
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

tfoot {
  background-color: #324960;
  color: #fff;
}

#totalAmount,
#registerTable > tfoot > tr > td:nth-child(2) {
  font-weight: 900;
  font-size: 1rem;
  text-transform: uppercase;
}

.summary-container {
  margin-top: 20px;
}

.summary-container h2 {
  margin-bottom: 10px;
}

.summary-container table {
  border-collapse: collapse;
  width: 100%;
}

.summary-container table th,
.summary-container table td {
  border: 1px solid #ccc;
  padding: 8px;
  text-align: left;
}

.summary-container table th {
  background-color: #f2f2f2;
}

@media (max-width: 767px) {
  #registerTable {
    display: block;
    width: 100%;
  }
  .table-wrapper:before {
    content: "Scroll horizontally >";
    display: block;
    text-align: right;
    font-size: 11px;
    color: white;
    padding: 0 0 10px;
  }
  thead,
  tbody,
  thead th {
    display: block;
  }
  thead th:last-child {
    border-bottom: none;
  }
  thead {
    float: left;
  }
  tbody {
    width: auto;
    position: relative;
    overflow-x: auto;
  }
  td,
  th {
    /* padding: 20px 0.625em 0.625em 0.625em; */
    height: 40px;
    vertical-align: middle;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    width: 120px;
    font-size: 13px;
    text-overflow: ellipsis;
  }
  thead th {
    text-align: left;
    border-bottom: 1px solid #f7f7f9;
  }
  tbody tr {
    display: table-cell;
  }
  tbody tr:nth-child(odd) {
    background: none;
  }
  tr:nth-child(even) {
    background: transparent;
  }
  tr td:nth-child(odd) {
    background: #f8f8f8;
    border-right: 1px solid #e6e4e4;
  }
  tr td:nth-child(even) {
    border-right: 1px solid #e6e4e4;
  }
  tbody td {
    display: block;
    text-align: center;
  }

  .container {
    width: 95%;
  }
}
